<div *ngIf="filtros.length > 0" class="flex items-center justify-between ">
    <div class="w-[90%] flex flex-wrap gap-3">
        <div *ngFor="let filtro of filtros; index as i" class="flex items-center  rounded-md mr-2">
            <span  class="inline-block text-center bg-f-tablets text-primary font-bold rounded-md py-1 px-2 ">
                 {{filtro}} 
            </span>
            <button class="py-2 px-2 hover:bg-featured transition-colors rounded-r-md bg-primary" (click)="borrarFiltro(i)" > 
                <img src="assets/images/icon-remove.svg" alt="x para cerrar" class="block">    
            </button>
        </div>
    </div>
     <button class="block w-[10%] text-published font-bold hover:underline hover:text-primary transition-colors" (click)="borrarFiltro(-1)" >Clear</button>
</div>